1	프랑스	프랑스	NNP	NNP	_	2	MOD	_	_
2	의	의	JKG	JKG	_	8	NP_MOD	_	_
3	세계	세계	NNG	NNG	_	4	MOD	_	_
4	적	적	XSN	XSN	_	5	MOD	_	_
5	이	이	VCP	VCP	_	6	MOD	_	_
6	ᆫ	ᆫ	ETM	ETM	_	8	VNP_MOD	_	_
7	의상	의상	NNG	NNG	_	8	NP	_	_
8	디자이너	디자이너	NNG	NNG	_	10	NP	_	_
9	엠마누엘	엠마누엘	NNP	NNP	_	10	NP	_	_
10	웅가로	웅가로	NNP	NNP	_	11	MOD	_	_
11	가	가	JKS	JKS	_	18	NP_SBJ	_	_
12	실내	실내	NNG	NNG	_	13	NP	_	_
13	장식	장식	NNG	NNG	_	14	MOD	_	_
14	용	용	XSN	XSN	_	15	NP	_	_
15	직물	직물	NNG	NNG	_	16	NP	_	_
16	디자이너	디자이너	NNG	NNG	_	17	MOD	_	_
17	로	로	JKB	JKB	_	18	NP_AJT	_	_
18	나서	나서	VV	VV	_	19	MOD	_	_
19	었	었	EP	EP	_	20	MOD	_	_
20	다	다	EF	EF	_	21	MOD	_	_
21	.	.	SF	SF	_	0	VP	_	_
